@import "tailwindcss";

:root {
  --background: #111827; /* Fundo sólido elegante e escuro */
  --foreground: #f4f4f4; /* Texto mais claro */
  --secondary-gray: #1f2937; /* Cor secundária do fundo */
  --highlight-green: #00bb48; /* Verde mais forte e marcante */
  --highlight-green-hover: #00bb48; /* Verde escuro para hover */
  --font-sans: 'Inter', sans-serif; /* Fonte original sem serifas */
  --font-mono: 'Courier New', monospace;
  --highlight-white: #ffffff;
}
.text-highlight-white {
  color: var(--highlight-white) !important;
}
/* Classes utilitárias para o novo verde */
.text-highlight-green {
  color: var(--highlight-green) !important;
}

.border-highlight-green {
  border-color: var(--highlight-green) !important;
}

.bg-highlight-green {
  background-color: var(--highlight-green) !important;
}


.hover-bg-highlight-green:hover {
  background-color: var(--highlight-green-hover);
}

.hover-text-highlight-green:hover {
  color: var(--foreground); /* Fica branco no hover */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f4f4f4;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  font-size: 18px;
  line-height: 1.6;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h2 {
  font-family: var(--font-sans);
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--highlight-green);
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  text-align: center;
}

p {
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
/* globals.css */
.swal2-container {
  z-index: 99999 !important;
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
/* Scroll personalizado só pra FutStatics */
/* Remove a scrollbar do container, mas mantém a rolagem */
.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;     /* Firefox */
}
 html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;              /* Chrome, Safari e WebKit */
  }

@keyframes fade-slide {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide {
  animation: fade-slide 0.5s ease-out forwards;
}


